@font-face{
    font-family: 'onu';
    src: url('../font/Raleway-Black.ttf')
}
@font-face {
    font-family: 'barlow';
    src: url('../font/Barlow-Regular.ttf');
}

html{
    margin:0;
    padding:0;

}

body{
    margin:0;
    padding:0;
}

.swal2-content{
    font-family: barlow
}

header{
    width:100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    font-family: "onu";
    font-size: 5%;
    border-bottom: 1px solid rgb(3, 41, 68);
}

#mapid{
    width:100%;
    height: 80%;
    font-family: 'barlow';
}


footer{
    width:100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(3, 41, 68);
}


#title{    
    font-family: 'onu';
    color:rgb(3, 41, 68);
    font-size: 1rem;
    padding-top: 2%


}
h1, h2{
    text-align: center;
    font-family: 'barlow';
}

.awesome-marker i {
        font-size: 18px;
        margin-top: 8px;
    }

.label{
    text-align: center;
    background-color: rgb(3, 41, 68);
    color: rgb(255, 255, 255);
    font-family: 'barlow';
}

#div_table{
    text-align: center;
    background-color: rgb(3, 41, 68);
    color: rgb(255, 255, 255);
    font-family: 'barlow';

}

.logo{
    display: none
}

.logofooter{
    display: inline-block;
    width:40%;
    height: 70%;
    padding-top: 22px;
    padding-left: 80px;
}

@media all and (min-width: 700px){
    #title{
        font-size: 1.6rem;
        padding-top: 1px
        
    }


}
@media all and (min-width: 900px){
    #title{
        font-size: 2rem;
        padding-bottom:3.5px;
        
    }

    
header{
    width:100%;
    height: 11%;

}

#mapid{
    width:100%;
    height: 80%;
}


footer{
    width:100%;
    height: 9%;

}




    .logofooter{
    display: inline-block;
    width: 40%;
    height: 70%;
    padding-top: 10px;
    padding-left: 80px;
}
}


@media all and (min-width: 1200px){

#title{
        font-family: 'onu';
    display:inline-block;
    color:rgb(3, 41, 68);
    font-size: 1rem;
    text-align: right;
    padding-top:2.5px;
    padding-right: 0.3%; 
    padding-left: 40%;
}

.logo{
    display: inline-block;
    width: 10%;
    padding-left: 0.5% ;
    padding-bottom: 3px

    
}

header{
    width:100%;
    height: 8vh;
    background-color: rgb(255, 255, 255);
    font-family: "onu";
    font-size: 5%;
}

footer{
    display: none
}

#mapid{
    height: 92vh;
}
}

@media all and (min-width: 1800px){

#title{
    font-family: 'onu';
    display: inline-block;
    color: rgb(3, 41, 68);
    font-size: 1.4rem;
    text-align: right;
    padding-left: 45%;

}

.logo{
display: inline-block;
    width: 10%;
    height: 100%;
    padding-left: 0.5%;
    padding-bottom: 35px;

    
}

header{
    width:100%;
    height: 8vh;
    background-color: rgb(255, 255, 255);
    font-family: "onu";
    font-size: 5%;
}

footer{
    display: none
}

#mapid{
    height: 92vh;
}
}