html{
    margin:0;
    padding:0;
}

body{
    margin:0;
    padding:0;
}


#mapid{
    width:100%;
    height: 100vh;

}

h1{
    text-align: center;
}

.awesome-marker i {
        font-size: 18px;
        margin-top: 8px;
    }

.label{
    text-align: center;
    background-color: black;
    color: white
}