@font-face{
    font-family: 'onu';
    src: url('../font/Raleway-Black.ttf')
}
@font-face {
    font-family: 'barlow';
    src: url('../font/Barlow-Regular.ttf');
}

html{
    margin:0;
    padding:0;

}

body{
    margin:0;
    padding:0;
}

.swal2-content{
    font-family: barlow
}

header{
    width:100%;
    height: 10%;
    background-color: rgb(3, 41, 68);
    font-family: "onu";
    font-size: 5%;
}

#mapid{
    width:100%;
    height: 80%;
    font-family: 'barlow';
}


footer{
    width:100%;
    height: 10%;
    background-color: rgb(3, 41, 68);
}


#title{    
    font-family: 'onu';
    color:rgb(255, 255, 255);
    font-size: 1rem;
    padding-top: 2%


}
h1{
    text-align: center;
    font-family: 'barlow';
}

.awesome-marker i {
        font-size: 18px;
        margin-top: 8px;
    }

.label{
    text-align: center;
    background-color: rgb(3, 41, 68);
    color: rgb(255, 255, 255);
    font-family: 'barlow';
}

#div_table{
    text-align: center;
    background-color: rgb(3, 41, 68);
    color: rgb(255, 255, 255);
    font-family: 'barlow';

}

.logo{
    display: none
}

.logofooter{
    display: inline-block;
    width:40%;
    height: 70%;
    padding-top: 22px;
    padding-left: 80px;
}

@media all and (min-width: 700px){
    #title{
        font-size: 0.8rem
    }
}

@media all and (min-width: 1200px){

#title{
        font-family: 'onu';
    display:inline-block;
    color:rgb(255, 255, 255);
    font-size: 1rem;
    text-align: right;
    padding-top:0%;
    padding-right: 0.3%; 
    padding-left: 28%;
}

.logo{
    display: inline-block;
    width: 10%;
    height: 100%;
    padding-left: 0.5% ;
    padding-top:15px;
    padding-bottom: 18px

    
}

header{
    width:100%;
    height: 8vh;
    background-color: rgb(3, 41, 68);
    font-family: "onu";
    font-size: 5%;
}

footer{
    display: none
}

#mapid{
    height: 92vh;
}
}

@media all and (min-width: 1500px){

#title{
        font-family: 'onu';
    display:inline-block;
    color:rgb(255, 255, 255);
    font-size: 1rem;
    text-align: right;
    padding-top:0%;
    padding-right: 0.3%; 
    padding-left: 41%;
}

.logo{
    display: inline-block;
    width: 10%;
    height: 100%;
    padding-left: 0.5% ;
    padding-top:15px;
    padding-bottom: 18px

    
}

header{
    width:100%;
    height: 8vh;
    background-color: rgb(3, 41, 68);
    font-family: "onu";
    font-size: 5%;
}

footer{
    display: none
}

#mapid{
    height: 92vh;
}
}